/* General utils*/
body {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5;
  margin:0;
  height: 100%;
}

h1, h2, h3, h4{
  font-weight: 450;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gray-backgroud {
  background-color: #f1f1f1;
}

/* NAV styles */

.nav-item a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 27px 32px;
}

.nav-item a:hover {
  background-color: #111;
}

#main-content {
  margin-top: 70px;
}

.nav-links {
  background: linear-gradient(90deg, #0b383e, #196e71);
  list-style-type: none;
  margin: 0;
  display: flex;
  width: 100%;
}

.sub-menu {
  list-style-type: none;
  padding-left: 0;
}

#menu-button {
  position: absolute;
  right: 0;
  top: 0;
}

#drop-down-menu {
  display: block; /* Show the dropdown menu */
  width: 100%; /* Make it full width */
  overflow: hidden;
}

.main-menu {
  padding: 0;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

/* DESKTOP */
@media only screen and (min-width: 830px) {
  #mobile {
    display: none;
  }

  #desktop {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
  }

  .nav-links {
    padding: 0 10%;
    justify-content: space-between;
  }
  
  .nav-links li {
    float: left;
    margin: 0 10px 0 10px;
  }
}

/* MOBILE */
@media only screen and (max-width: 830px) {
  #mobile {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
  }

  #desktop {
    display: none;
  }

  .nav-links {
    padding: 0;
    flex-direction: column;
    align-items: center;
  }
}

/* NAV end*/
/* HEADER styles*/

.header {
  padding: 128px 16px;
  background-color: tomato;
  color: white;
}

/* HEADER end*/
/* parallax stytles*/

.parallax {
  /* The image used */
  background-color: black;
  background-image: url("images/image.png");

  /* Full height */
  height: 300px;
  width: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

/* parallax end*/
/* Grid styles*/

.grid-container {
  display: grid;
  padding: 50px 10px;
}

.grid-container-left-3 {
  grid-template-columns: 20% auto 45%;
}

.grid-container-right-3 {
  grid-template-columns: 45% auto 20%;
  background-color: #f1f1f1;
}

.grid-container-center-4 {
  grid-template-columns: 25% 25% 25% 25%;
}

@media only screen and (max-width: 768px) {
  .grid-container-l, .grid-container-r {
    grid-template-columns: 1fr; /* Single column layout for smaller screens */
  }
}

/* Grid end*/
/* footer styles*/

#footer {
  color: #dee6f2;
  background-color: #1d2331;
  padding: 30px; /*25*/
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    gap: 60px;
  }
}

.footer-item {
  max-width: 400px;
}

footer ul{
  list-style: none;
  margin: 0;
}

footer a{
  color: inherit;
}

footer h3 {
  font-weight: 600;
}

/* footer end*/