/* Root variables */
:root {
  --primary-background-color: white;
  --secondary-background-color:#f1f1f1;
  --navbar-color: linear-gradient(90deg, #0b383e, #196e71);
  --navbar-hover-color: #111;
  --secondary-color: tomato;
  --footer-color: #1d2331;
  --footer-text-color: #dee6f2;
  --primary-text-color: white;
}

/* General utils*/
body {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5;
  margin:0;
  height: 100%;
}

h1, h2, h3, h4{
  font-weight: 450;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gray-backgroud {
  background-color: var(--secondary-background-color);
}

/* NAV styles */
.nav-item a {
  display: block;
  color: var(--primary-background-color);
  text-align: center;
  text-decoration: none;
  padding: 27px 32px;
}

.nav-item a:hover {
  background-color: var(--navbar-hover-color);
}

#main-content {
  margin-top: 70px;
}

.nav-links {
  background: var(--navbar-color);
  list-style-type: none;
  margin: 0;
  display: flex;
  width: 100%;
}

.sub-menu {
  list-style-type: none;
  padding-left: 0;
}

#menu-button {
  position: absolute;
  right: 0;
  top: 0;
}

#drop-down-menu {
  display: block; /* Show the dropdown menu */
  width: 100%; /* Make it full width */
  overflow: hidden;
}

.main-menu {
  padding: 0;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

/* DESKTOP */
@media only screen and (min-width: 840px) {
  #mobile {
    display: none;
  }

  #desktop {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
  }

  .nav-links {
    padding: 0 10%;
    justify-content: space-between;
  }
  
  .nav-links li {
    float: left;
    margin: 0 10px 0 10px;
  }
}

/* MOBILE */
@media only screen and (max-width: 840px) {
  #mobile {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
  }

  #desktop {
    display: none;
  }

  .nav-links {
    padding: 0;
    flex-direction: column;
    align-items: center;
  }
}

/* HEADER styles*/
.header {
  padding: 128px 0;
  background-color: var(--secondary-color);
  color: var(--primary-background-color);
}

/* BANNER styles */
.banner {
  background-color: var(--secondary-color);
  color: var(--primary-text-color);
}

/* PRODUCTS */
#products {
  background-color: var(--secondary-background-color);
}

.product {
  display: inline-flex;
  flex-direction: column;
  margin: 20px;
  width: 240px;
  height: 400px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product img {
  width: 100%;
  height: 100%;
  object-fit: contain ;
}

.product h4{
  margin: 0;
}

.product-container {
  object-fit: cover;
  height: 50%;
  padding: 10px;
}

.image-container {
  height: 200px;
}

.info-container {
  border-top: 1px solid #000;
}

.button-container button{
  width: 100%;
  height: 50%;
  bottom: 0;
}

/* parallax stytles*/
.parallax {
  /* The image used */
  background-image: url("images/parallax.png");

  /* Full height */
  height: 350px;
  width: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

/* Grid styles*/
.grid-container {
  display: grid;
  padding: 50px 10px;
}

.grid-container-left-3 {
  grid-template-columns: 20% auto 45%;
}

.grid-container-right-3 {
  grid-template-columns: 45% auto 20%;
  background-color: var(--secondary-background-color);
}

.grid-container-center-4 {
  grid-template-columns: 25% 25% 25% 25%;
}

@media only screen and (max-width: 768px) {
  .grid-container-l, .grid-container-r {
    grid-template-columns: 1fr; /* Single column layout for smaller screens */
  }
}

/* footer styles*/
#footer {
  color: var(--footer-text-color);
  background-color: var(--footer-color);
  padding: 30px;
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    gap: 60px;
  }
}

.footer-item {
  max-width: 400px;
}

footer ul{
  list-style: none;
  margin: 0;
}

footer a{
  color: inherit;
}

footer h3 {
  font-weight: 600;
}
